.box{
  height: 30vh;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.878);
  border-radius: 50px;
  margin: 20% 10% 10% 10%;
  padding: 3vh 3vw;
  text-align: center;
  z-index: 1;
  position: absolute;
  font: 15pt roboto;



}
p{
  font-size: 17pt;

}

 .register,.consult{
  background-color: red;
  font-size: 14pt;
  height: 8vh;
  width: 15vh ;


 }
 .register{
  margin-right:10px;
 }
 .consult{
  margin-left:10px;
 }


 span{
color: white;

}
