<div class="presentation">
  <div class="text">
  <h2>Supportami con un like</h2>
  <p>Il progetto partecipa al premio <a href="https://s4s.sorint.it/event" target="_blank">"GF Marilli 2023"</a>  una competizione organizzata dall'azienda <a href="https://www.sorint.com/" target="_blank">Sorint</a> dove ogni studente presenta un progetto informatico a una giuria di esperti per ottenere importanti riconoscimenti</p>
  <h4><a href="https://www.instagram.com/p/CtJqPyGAD54/" target="_blank">hackersgen_sorint <img src="/../../assets/logo_instagram.png" alt="" height="50px" width="50px"></a></h4>
</div>
  <video src="/../../assets/Presentazione.mp4 "   autoplay loop [muted]="'muted'"></video>
</div>
