<div class="container">
  <div class="description">
    <div class="admin">
      <h2>Account Admin</h2>
      <p>Polo è pensata promuovere il turismo locale, puoi creare la tua mappa della zona con i luoghi da visitare e le
        relative informazioni</p>
      <img src="/././assets/treasure_map.png" alt="Mappa del tesoro">
    </div>
    <div class="background">
      <div class="monitor">
        <h2>Monitoraggio dell'ambiente</h2>
        <p>Il sistema raccoglie informazioni sullo stato dei punti di interesse tramite feedback e segnalazioni in modo
          che le autorità competenti siano sempre aggiornate su eventuali problemi</p>
      </div>
    </div>
    <div class="explorer">
      <h2>Account Explorer</h2>
      <p>Tramite le funzioni di Polo puoi organizzare i tuoi itinerari ed essere sempre pronto ad ogni imprevisto. In
        più Polo è sempre pronto a suggerirti tappe in base al tuo percorso e ai tuoi interessi</p>
      <img src="/././assets/explorer.png" alt="Esploratore">
    </div>



  </div>


</div>
